<h1>SCUBA LIFE</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>Get involved in scuba now! Try dives running soon! contact us at subaqua@yusu.com NOW </p>
<%= button_to "BACK", "/ideas/1", "method"=>"get" %>
